<div class="header-container">
    <div class="toolset-left">
        <label for="txt-input"> txt with song titles => </label>
        <input (change)="handleFileInput($event)" type="file" accept=".txt" id="txt-input">
        <button (click)="submitFile()" class="submit-button"
                [ngClass]="submitButtonStatus"
                [disabled]="!selectedFile"
        >{{submitButtonStatus === LOADING ? 'Loading' : 'Submit'}}</button>
    </div>

    <div class="toolset-right">
        <button (click)="handleDownloadAll()"
                [ngClass]="downloadAllButtonStatus"
                [disabled]="!selectedFile"
                class="download-all-button"
        >Download all</button>
    </div>
</div>