.song-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 15px;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.update-button {
    &.ready {
        background-color: #4CAF50;
    }

    &.loading {
        background-color: yellow;
        color: black;
    }

    &:disabled {
        color: black;
        background-color: gray;
    }

    &.error {
        background-color: red;
        color: black;
    }
}