.song-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
        display: flex;
        align-items: center;
        height: 30px;

        .index {
            width: 10px;
        }
    }
}

.update-button {
    &.ready {
        background-color: #4CAF50;
    }

    &.loading {
        background-color: yellow;
        color: black;
    }

    &:disabled {
        color: black;
        background-color: gray;
    }

    &.error {
        background-color: red;
        color: black;
    }
}

.control-block {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}