<form class="song-form">
    <button (click)="remove($event)" class="remove-song">X</button>
    <input type="text" [value]="songData.title" (change)="updateTitle($event)">
    <span>{{songData.duration_string}}</span>
    <div class="timestamp-input">
        <input type="text" placeholder="from">
        :
        <input type="text" placeholder="to">
    </div>

    @if (songData.original_url) {
        <a [href]="songData.original_url" target="_blank">Original</a>
    } @else {
        <input class="url-input" type="text" (change)="insertOriginalUrl($event)" placeholder="Youtube URL">
        <button (click)="addUlr()">Add</button>
    }

<!--    TODO - add checkbox field in songData, only checked songs will be downloaded-->
    <input type="checkbox" [checked]="songData.userInput?.checked">

</form>
